.aboutUsComponent{
    padding-top: 70px;
    // padding-bottom: 100px;
    justify-content: center;
    display: flex;
    background-image: url(https://www.solarsystemscope.com/textures/download/2k_stars_milky_way.jpg); 
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    overflow: hidden;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }