body {
    padding-top: 86px;
    
  }

.apod-page {
    display: flex;
    height: 77.4vh;
    background-image: url(https://www.solarsystemscope.com/textures/download/2k_stars_milky_way.jpg); 
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    overflow: hidden;
}

.pod {
    width: 80%;
    display: flex;
    flex-direction: column;
    p {
        background-color: rgba(14, 8, 8, 0.548);
        color: rgb(224, 221, 221);
        padding: 2vw;
        font-size: calc(8px + 0.5vw);
    }
}

.image-pod {
    height: 100%;
    width: 100%;
}

.video-pod {
    height: 100%;
    width: 100%;
    :first-child {
        height: 100%;
    }
}

.week-pictures {
    height: 100%;
    width: 20%;
    overflow-y: scroll;
    img {
        width: 100%;
    }
}
