body {
    padding-top: 86px;
    
  }

.apod-page {
    display: flex;
    height: 77.4vh;
    background-image: url(https://www.solarsystemscope.com/textures/download/2k_stars_milky_way.jpg); 
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    overflow: hidden;
}

.pod {
    width: 80%;
    display: flex;
    flex-direction: column;
    p {
        background-color: rgba(14, 8, 8, 0.548);
        color: rgb(224, 221, 221);
        padding: 2vw;
        font-size: calc(8px + 0.5vw);
    }
}

.image-pod {
    height: 100%;
    width: 100%;
}

.video-pod {
    height: 100%;
    width: 100%;
    :first-child {
        height: 100%;
    }
}

.week-pictures {
    height: 100%;
    width: 20%;
    overflow-y: scroll;
    img {
        width: 100%;
    }
    .pod-description {
        font-size: calc(6px + 0.5vw);
        color: #ffffff;
        margin-bottom: 0;
        text-align: center;
    }
}
.spinner{
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}