$apod-page-height: 77.4vh;

.apod-page {
    display: flex;
    height: $apod-page-height;
    background-image: url(https://www.solarsystemscope.com/textures/download/2k_stars_milky_way.jpg); 
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    overflow: hidden;
}

.pod {
    width: 70vw;
    display: flex;
    flex-direction: column;
    p {
        overflow-y: auto;
        background-color: rgba(14, 8, 8, 0.548);
        color: rgb(224, 221, 221);
        padding: 2vw;
        font-size: 14px;
    }
}

.image-pod {
    height: 100%;
    width: 100%;
}

.video-pod {
    height: 100%;
    width: 100%;
    :first-child {
        height: 100%;
    }
}

.week-pictures {
    height: 100%;
    width: 30vw;
    overflow-y: scroll;
    img {
        width: 100%;
    }
    .pod-description {
        font-size: 10px;
        color: #ffffff;
        margin-bottom: 0;
        text-align: center;
    }
}
.spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: $apod-page-height;
}

@media (max-width: 767px) {
    .apod-page {
        display: block;
    }
    .pod {
        margin-top: 2vh;
        height: 35vh;
        width: 100vw;
    }
    .week-pod {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .week-pictures {
        height: 44vh;
        width: 100vw;
        overflow: auto;

    }
}