@import "Home";
@import "Footer";
@import "Profile";
@import "Map";
@import "AboutUs";
@import "Sidebar";
@import "Apod";
@import "Iss";
@import "Navbar";

body {
  font-family: 'Raleway', sans-serif;
  background-color: black;
  }
  .h1 {
    font-weight: 700;
  }
  .h5 {
    font-weight: 300;
  
}


