.footerComponent {
    display: flex;
    height: 40px;
    color:white;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-image: url(https://media.giphy.com/media/3ohhwNqFMnb7wZgNnq/giphy.gif);
    left:0px;
    bottom:0px;
    width:100%;
}