.HomeComponent{
    background-image: url(https://media.giphy.com/media/3o7aDcrsww5Ybp18hq/giphy.gif); 
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    overflow: hidden;
    color: white;

}
.section1 {
    display: flex;
    flex-direction: column;
    height: 90vh;
    text-align: center;
    margin-top: 45vh;
}

.section2 {
    height: 90vh;
    text-align: center;
    .row {
        justify-content: space-evenly;
    }
    img {
        width: 100%;
        border-radius: 50%;
    }
}


