.issComponent {
    padding-top:30px;
    background-image: url(https://media.giphy.com/media/3o7aDcrsww5Ybp18hq/giphy.gif); 
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    overflow: hidden;
    
}