#mapid { 
    width: 55vw;
    height: 450px; 
    margin-bottom:10px;
    border-radius: 8px;
    box-shadow: 5px 15px 15px rgba(#313031, .9);
}

.leaflet-div-icon {
    background: transparent;
    border: none;
}