.navbar{
    background-image: url(https://media3.giphy.com/media/gCUNAjq0nZzkk/giphy.gif);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.links{
        .active {
            border-bottom:3px solid rgba(57, 233, 151, 0.774);
            border-radius: 1px;
          }
          
        }
// .nav-link:hover {
//   background-color: #8eecdc56;
//   border-radius: 3px;

// }
  .aboutuslink{
    padding-right: 30px;
  }

a{
        color: white;
        text-decoration: none
}

a:hover 
{
     color: grey; 
     text-decoration:none; 
     cursor:pointer;  
}