.profileCard {
    text-align: center;
    background-image: url(https://www.solarsystemscope.com/textures/download/2k_stars_milky_way.jpg); 
    background-repeat: no-repeat;
    color: white;
    border: none;
}

.profileImage {
    padding-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%
}

.profileSocial {
    margin-left: 15px;
}
