.green{
  color: green;
}

.red{
  color: red;
}

.button {
  background-color: #017AFD;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
}

.fb-share-button{
  padding-bottom: 20px;
}
.bar {
  border-radius: 8px;
}

.thing {
  height: 50%;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
}

.gamething {
  height: 50%;
  width: 100%;
  text-align: center;
}

.time{
  font-size: 180%
}

.game {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}