

.flex{
  display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}

.green{
  color: green;
}

.red{
  color: red;
}

.button {
  background-color: #017AFD;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
}
.bar {
  border-radius: 8px;
}

.thing {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 250px;
  height: auto;
  // background: #b7612f;
  background-image: url(https://www.solarsystemscope.com/textures/download/2k_stars_milky_way.jpg);
  background-repeat: no-repeat;
  box-shadow: 5px 5px 15px rgba(#4e6899, .9);
  border-radius: 10px;
}

.text{
  color:white;
}